<div class="bootstrap-wrapper">
  <div class="container">
    <h1>Welcome to TestYourSelf</h1>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <button mat-raised-button color="primary">Click Me</button>


    <div class="row">
      <div class="col-md-6">
        <h1>LEFT SIDE</h1>
        <button mat-button color="warn">Wow</button>
      </div>
      <div class="col-md-6">
        <h1>RIGHT</h1>
        <button mat-raised-button color="primary">Wow</button>
      </div>
    </div>
  </div>
</div>
